 
                                  <div class="form-group">
                    <label for="name">First name</label>
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">

                     <span class="mdi mdi-food"></span>
                    </span>
                    </div>

                    <input type="text" class="form-control" id="firstnameu" name="firstnameu" placeholder="Enter the student's name" required />
                    <input type="text" class="form-control" id="idu" name="idu" />
                 
                  
                    
                    </div>   </div> 
                             
                        
                    <div class="form-group">
                    <label for="name">Last name</label>
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">

                     <span class="mdi mdi-scale"></span>
                    </span>
                    </div>

                    <input type="text" class="form-control" id="lastnameu" name="lastnameu" placeholder="Enter the student's name" required />
                    </div>   </div>
                             
                      
                 <div class="form-group">
                    <label for="email">Reg number</label>
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">

                     <span class="mdi mdi-cash-usd"></span>
                    </span>
                    </div>

                    <input type="number" class="form-control" id="regnumberu" name="regnumberu" placeholder="Reg number" required />
                    </div>   </div>            
                             
                             
                               